[submodule "library/src/main/jni/libjpeg-turbo/libjpeg-turbo"]
	path = library/src/main/jni/libjpeg-turbo/libjpeg-turbo
	url = https://github.com/seven332/libjpeg-turbo.git
[submodule "library/src/main/jni/libpng/libpng"]
	path = library/src/main/jni/libpng/libpng
	url = https://github.com/seven332/libpng.git
[submodule "library/src/main/jni/giflib/giflib"]
	path = library/src/main/jni/giflib/giflib
	url = https://github.com/seven332/giflib.git
